<%- include(header) %>

<main>
    <div class="cards">
        <h1>All Base Set Pokemon</h1>
        <div class="showCards">
            <% cards.forEach(card => { %>
                <div class="cardImages">
                    <a href="/cards/<%= card.pokemonID %>">
                        <img src="<%= card.cardImage %>">
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</main>

</body>
<%- include("footer") %>

</html>