<%- include(header) %>

    <main>
        <div class="cards">
            <h1>All Base Set Pokemon</h1>
            <div class="showCards">
                <% cards.forEach(cards=> { %>
                    <div class="cardImages">
                        <img src="<%= cards.cardImage %>">
                    </div>
                    <% }) %>
            </div>
        </div>
    </main>

    </body>
    <%- include("footer") %>

        </html>