<%- include (header) %>

    <main>
        <div class="createaccounttitle">
            <h1>Create an account</h1><br><br>
            <h2>Fill in your details to create your very own Tradecard account</h2>
        </div>

        <div class="createaccountform">
            <form action="/createaccount" method="POST">
                <p>
                    Username : <input name="username"><br><br>
                    First name : <input name="firstname"><br><br>
                    Last name : <input name="lastname"><br><br>
                    Email : <input name="email"><br><br>
                    Password : <input name="password" type="password"><br><br>
                </p>
                <button type="submit" class="createaccountbutton2">Create account</button>            </form>
        </div>
    </main>
    </body>
    <%- include("footer") %>