<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>TradeCard</title>
</head>

<body>
    <div class="header">
        <div><img src="/TradeCardLogo.png" class="logotop"></div>
        <div class="title"><a href="/">TradeCard</a></div>
        <div class="logintop">
            <a href="/login" class="logintopbutton">
                Login
            </a>
        </div>
    </div>

    <div class="navbartop">
        <a href="/">Home</a>
        <a href="/cards">Cards</a>
        <a href="/Sets">Sets</a>
        <a href="/collections">Collections</a>
    </div>