<%- include(header) %>

    <main>

        <div class="topContainer">
            <div class="welcome">
                <h1>Welcome to Tradecard!</h1>
                <h3>The best place to track your Pokemon card collection!</h3>
                <h3>Can you catch 'em all?</h3>
            </div>

            <div class="homepagetop">
                <a href="/cards" class="searchcardsbutton">
                    Search cards
                </a>
                <a href="/createaccount" class="createaccountbutton">
                    Create an account
                </a>
            </div>
        </div>

        <div class="featurewrapper">
            <div class="collectionfeature">
                <div class="featuresbox1">
                    <div class="featuresbox1img">
                        <img src="/Gen1Starters.png">
                    </div>
                    <div class="featuresbox1text">
                        <h2>Create your own collection</h2>
                        <p>Embark on your journey as you look to fill your very own Pokedex! <br><br>
                            How many can you catch?</p>
                    </div>
                </div>
            </div>

            <div class="searchfeature">
                <div class="featuresbox2">
                    <div class="featuresbox2text">
                        <h2>Search for your favourites</h2>
                        <p>What are your favourite cards from the Pokemon franchise?<br><br>
                            Search them using our search functions!</p>
                    </div>
                    <div class="featuresbox2img">
                        <img src="/SearchCards.png">
                    </div>
                </div>
            </div>

            <div class="ratingfeature">
                <div class="featuresbox3">
                    <div class="featuresbox3img">
                        <img src="/5stars.png">
                    </div>
                    <div class="featuresbox3text">
                        <h2>Rate your friends collections</h2>
                        <p>How does your Pokemon collection stack up against your friends? <br><br>
                            Compare your collections and give them a rating!</p>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </main>

    <%- include("footer") %>

        </html>