<%- include("header") %>

    <main>

        <div class="topContainer">
            <div class="welcome">
                <h1>Welcome to Tradecard</h1>
                <h3>The best place to track your Pokemon card collection!</h3>
                <h3>Can you catch 'em all?</h3>
            </div>

            <div class="homepagetop">
                <a href="/cards" class="searchcardsbutton">
                    Search cards
                </a>
                <a href="/createaccount" class="createaccountbutton">
                    Create an account
                </a>
            </div>

        <div class="grid-row">
            <div class="grid-item">
                This is an toy
            </div>
            <div class="grid-item">
                This is an toy
            </div>
            <div class="grid-item">
                This is an toy
            </div>
            <div class="grid-item">
                This is an toy
            </div>
        </div>
    </main>

    <footer>
        <p>PUT SOMETHING IN HERE</p>
    </footer>
</body>

</html>