<% if (loggedIn) { %>
    <%- include('headerloggedin') %>
<% } else { %>
    <%- include('header') %>
<% } %>

<div class="logintitle">
    <h1>Login</h1>
</div>

    <div class="loginform">
        <form action="/login" method="POST">
            <p>
                Username : <input name="usernameField"><br><br>
                Password : <input name="passwordField" type="password">
            </p>
            <input type="submit" value="Login">
        </form>
    </div>