body {
    margin: 0;
    padding: 0;
    font-family: Geneva, Verdana, sans-serif;
}

main {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.grid-item {
    height: 50px;
    flex-basis: 20%;
    padding: 20px;
    width: 40px;
    border: thin solid red;
    margin: 10px;
}

.header {
    padding: 10px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px black;
}

.header .title a {
    margin-left: 10px;
    font-size: 3vw;
    color: white;
    font-family: 'ArchiveFont', sans-serif;
    text-decoration: none;
}

.header .title a:hover {
    color: black;
}

.header .logotop {
    height: 6vw;
    width: 6vw;
}

.header a.logintopbutton {
    display: inline-block;
    padding: 10px 20px;
    color: crimson;
    background-color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: black 2px solid;
    transition: 0.3s ease;
}

.header .logintopbutton:hover {
    background-color: rgb(190, 189, 189);
    color: white;
}

.headerloggedin {
    padding: 10px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px black;
}

.headerloggedin .title a {
    margin-left: 10px;
    font-size: 3vw;
    color: white;
    font-family: 'ArchiveFont', sans-serif;
    text-decoration: none;
}

.headerloggedin .title a:hover {
    color: black;
}

.headerloggedin .logotop {
    height: 6vw;
    width: 6vw;
}

.headerloggedin a.logouttopbutton {
    display: inline-block;
    padding: 10px 20px;
    color: crimson;
    background-color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: black 2px solid;
    transition: 0.3s ease;
}

.headerloggedin .logouttopbutton:hover {
    background-color: rgb(190, 189, 189);
    color: white;
}

.navbartop {
    width: 60%;
    padding: 10px;
    background-color: rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px crimson;
    border-radius: 10px;
    margin-top: -18px;
    margin-left: auto;
    margin-right: auto;
}

.navbartop a {
    padding: 0px 25px 0px 25px;
    font-size: 2vw;
    color: crimson;
    font-family: 'ArchiveFont', sans-serif;
    text-decoration: none;
}

.navbartop a:hover {
    color: white;
    background-color: crimson;
    border-radius: 10px;
}

a.searchcardsbutton {
    display: inline-block;
    padding: 1.2vw 1.7vw;
    color: white;
    background-color: crimson;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: black 2px solid;
    transition: 0.3s ease;
    font-size: 1vw;
    font-family: 'ArchiveFont', sans-serif;
}

a.searchcardsbutton:hover {
    background-color: rgb(252, 114, 114);
    color: white;
}

a.createaccountbutton {
    display: inline-block;
    padding: 1.2vw 1.7vw;
    color: crimson;
    background-color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: black 2px solid;
    transition: 0.3s ease;
    font-size: 1vw;
    font-family: 'ArchiveFont', sans-serif;
}

a.createaccountbutton:hover {
    background-color: rgb(190, 189, 189);
    color: white;
}

.allcards .pokemonimage {
    height: auto;
    width: 200px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.welcome h1 {
    font-size: 4.5vw;
    font-family: 'ArchiveFont', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.welcome h3 {
    font-size: 2vw;
    font-family: 'ArchiveFont', sans-serif;
    margin-bottom: 0px;

}

.homepagetop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 5px;
    gap: 15px;
}

.searchfeature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.featuresbox2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.featuresbox2 .featuresbox2text {
    margin-right: 50px;
}

.featuresbox2 .featuresbox2img {
    margin-left: 50px;
}

.featuresbox2 .featuresbox2text h2 {
    font-size: 1.8vw;
    font-family: 'ArchiveFont', sans-serif;
    margin-right: 7vw;
}

.featuresbox2 .featuresbox2text p {
    font-size: 1.5vw;
    font-family: sans-serif;
    margin-right: 7vw;
}

.featuresbox2 .featuresbox2img img {
    height: 95%;
    width: 95%;
}

.collectionfeature,
.ratingfeature {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(252, 114, 114);
}

.collectionfeature .featuresbox1,
.ratingfeature .featuresbox3 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.collectionfeature .featuresbox1 .featuresbox1text,
.ratingfeature .featuresbox3 .featuresbox3text {
    margin-left: 50px;
}

.collectionfeature .featuresbox1 .featuresbox1img,
.ratingfeature .featuresbox3 .featuresbox3img {
    margin-right: 50px;
}

.collectionfeature .featuresbox1 .featuresbox1text h2,
.ratingfeature .featuresbox3 .featuresbox3text h2 {
    font-size: 1.8vw;
    font-family: 'ArchiveFont', sans-serif;
    margin-left: 7vw;
}

.collectionfeature .featuresbox1 .featuresbox1text p,
.ratingfeature .featuresbox3 .featuresbox3text p {
    font-size: 1.5vw;
    font-family: sans-serif;
    margin-left: 7vw;
}

.featureswrapper {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    height: 5vw;
}

.logofooter {
    height: 4vw;
    width: 4vw;
}

a.collectionsbutton {
    display: inline-block;
    padding: 1.2vw 1.7vw;
    color: crimson;
    background-color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: black 2px solid;
    transition: 0.3s ease;
    font-size: 1vw;
    font-family: 'ArchiveFont', sans-serif;
}

a.collectionsbutton:hover {
    background-color: rgb(190, 189, 189);
    color: white;
}

.accountcreated {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* Adjust this value to increase or decrease the gap */
}

.accountcreatedtop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ArchiveFont', sans-serif;
}

.accountcreatedtop h1 {
    font-size: 3vw;
    margin: 0;
}

.accountcreatedparas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'ArchiveFont', sans-serif;
}

.accountcreatedparas h2 {
    font-size: 2vw;
}

.accountcreatedparas h3 {
    font-size: 1.5vw;
}

.accountcreatedbuttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.accountcreated a {
    text-align: center;
    display: block;
}

.accountcreatedimg {
    display: flex;
    justify-content: center;
}

.accountcreatedimg img {
    height: 18vw;
    width: 18vw;
}

.createaccounttitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'ArchiveFont', sans-serif;
}

.createaccounttitle h1 {
    font-size: 3vw;
    margin: 0;
}

.createaccountform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'ArchiveFont', sans-serif;
}

.createaccountform input {
    width: 100%;
    margin: 0 auto;
    display: block;
}

a.createaccountbutton2 {
    display: inline-block;
    padding: 1.2vw 1.7vw;
    color: white;
    background-color: crimson;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: black 2px solid;
    transition: 0.3s ease;
    font-size: 1vw;
    font-family: 'ArchiveFont', sans-serif;
    margin-bottom: 10px;
}

a.createaccountbutton2:hover {
    background-color: rgb(190, 189, 189);
    color: white;
}

.loginpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'ArchiveFont', sans-serif;
}

.loginpage h1{
    font-size: 3vw;
    margin: 0;
}

.loginpage .loginform{
    font-size: 1.5vw;
}

.loginform form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginform p {
    margin-right: 10px;
}

.loginform input {
    display: inline-block;
    padding: 1vw 1.5vw;
    background-color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: black 2px solid;
    font-size: 1vw;
}

.loginbutton:hover{
    background-color: rgb(252, 114, 114);
    color: white;
}

@media only screen and (max-width: 1458px) {
    .grid-item {
        padding: 20px 60px;
    }
}

@media only screen and (max-width: 1252px) {
    .grid-item {
        padding: 20px 50px;
    }
}

@media only screen and (max-width: 1076px) {
    .grid-item {
        padding: 20px 40px;
    }
}

@media only screen and (max-width: 899px) {
    .grid-item {
        flex-basis: 30%;
    }
}

@media only screen and (max-width: 635px) {
    .grid-item {
        flex-basis: 100%;
    }
}

@font-face {
    /* This imports the custom font archive */
    font-family: 'ArchiveFont';
    src: url('/Archive-Regular.ttf');
}